body { padding-bottom: 40px; }
p { font-size: 16px; line-height: 22px }
form.search { margin-bottom: 20px; }
#spectrum {
  position: relative;
  cursor: default;
}
#spectrum img.loader {
  position: absolute;
  height: 64px;
  width: 64px;
}
h2 { margin-top: 0px; margin-bottom: 10px; }
.nav a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #ccc;
}
.nav .author { float: right; }
.nav .meta { float: left; }
.nav .name { float: left; width: 50%; padding-right: 20px }
.nav a:first-child {
  border-top: 1px solid #ccc;
}
.nav a:hover {
  background-color: #EAEAEA;
}
.nav li { list-style: none; }
/*.sidebar { padding: 0px; }*/

/* D3 styles */
g.legend { fill: none; stroke: grey; stroke-width: 1; }
g.legend circle { stroke: none; }
g.legend-items { fill: black; stroke: none;}
.hover-plane { fill: white; }
.hover-line line { stroke: #808080; stroke-width: 1; }
.hover-hint { fill: black; }
path {
  stroke-width: 1;
  fill: none;
}
path.unfocus {
  opacity: 0.2;
}
path.focus {
  stroke-width: 2;
}
text.label {
  font-size: 14px;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
