body { padding-bottom: 40px; }
form.search { margin-bottom: 20px; }
#spectrum {
  position: relative;
  cursor: default;
}
#spectrum img.loader {
  position: absolute;
  height: 64px;
  width: 64px;
}
h2 { margin-bottom: 0px; }

/* D3 styles */
g.legend { fill: none; stroke: grey; stroke-width: 1; }
g.legend circle { stroke: none; }
g.legend-items { fill: black; stroke: none;}
.hover-plane { fill: white; }
.hover-line line { stroke: #808080; stroke-width: 1; }
.hover-hint { fill: black; }
path {
  stroke-width: 1;
  fill: none;
}
path.unfocus {
  opacity: 0.2;
}
path.focus {
  stroke-width: 2;
}
text.label {
  font-size: 14px;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
