extends 'layout.jade'
block page
  table.table.table-striped
    tr
      th 
      th Ice Composition
      th Author
      th Date Added
    - for mixture in mixtures
      tr
        td
          a(href= url_for('mixture_show', mixture_id=mixture.id)) View
        td= mixture.name
        td= mixture.author
        td= mixture.pub_date
