extends 'bootstrap/base.html'
block title
  |Ice Database

block content
  .container
    .row
      .col-sm-12
        h1
          a(href= url_for('index')) Sackler Laboratory Ice Database
        p.lead IR spectra measured by the Sackler Laboratory for Astrophysics

        form.search.form-horizontal(role='search', action='/')
          .input-group.input-group-lg
            input.form-control(type='text', name='q', placeholder='Search', value=q)
            span.input-group-btn
              input.btn.btn-default(type='submit', value='Search')
    .row
      .main.col-sm-12
        for message in get_flashed_messages()
          .alert.alert-info= message

        block page

block head
  {{super()}}
  link(rel='stylesheet', href="{{ url_for('static', filename='style.css') }}")
  include mathjax.html
block scripts
  {{super()}}
  script(src="{{ url_for('static', filename='d3.v3.min.js') }}")
  //script(src="http://d3js.org/d3.v3.js")
  script(src="{{ url_for('static', filename='d3.legend.js') }}")
  script(src="http://d3js.org/queue.v1.min.js")
