extends 'bootstrap/base.html'
block title
  |Ice Database

block content
  #content
    .container
      h1
        a(href='/') Sackler Laboratory Ice Database
      p.lead IR spectra measured by the Sackler Laboratory for Astrophysics

  .container
    for message in get_flashed_messages()
      .alert.alert-info= message

    block page

block head
  {{super()}}
  link(rel='stylesheet', href="{{ url_for('static', filename='style.css') }}")
  include mathjax.html
block scripts
  {{super()}}
  script(src="{{ url_for('static', filename='d3.v3.min.js') }}")
  //script(src="http://d3js.org/d3.v3.js")
  script(src="{{ url_for('static', filename='d3.legend.js') }}")
  script(src="http://d3js.org/queue.v1.min.js")
