extends 'bootstrap/base.html'
block title
  |Ice Database



block navbar
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed">
  </button>
  <a class="navbar-brand" href="/"><img style="max-width:64px; margin-top: -0px;" src="{{ url_for('static', filename='sla-pictogram.png') }}" alt="Ice Database">
  </a>
  <a class="navbar-brand" style="color: #fff" href="/">Ice Database</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  <li><a href="/spectrum_data">Spectral data <span class="sr-only">(current)</span></a></li>
  <li><a href="/refrac_index" style="color: #fff">Optical Constants</a></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="/Kramers_Kronig"><span style="font-family: Calibri, sans-serif; font-size: 20px;">Complex refractive index calculator</span></a></li>
  <li role="separator" class="divider"></li>
  <li><a href="/Synt_Spec"><span style="font-family: Calibri, sans-serif; font-size: 20px;">Synthetic spectrum creator</span></a></li>
  </ul>
  </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  <button type="button" class="btn btn-link btn-lg" id="authForm0" aria-label="Left Align">
  <a <span class="glyphicon glyphicon-certificate" href="/Credit" style="color: #fff" aria-hidden="true"></span> </a>
  </button>
  <button type="button" class="btn btn-link btn-lg" id="authForm0" aria-label="Left Align">
  <a <span class="glyphicon glyphicon-envelope" href="/formpage" style="color: #fff" aria-hidden="true"></span> </a>
  </button>
  <button type="button" class="btn btn-link btn-lg" id="authForm1" aria-label="Left Align">
  <a <span class="glyphicon glyphicon-info-sign" href="https://home.strw.leidenuniv.nl/~linnartz/index.html" style="color: #fff" aria-hidden="true"></span> </a>
  </button>
  </ul>
  </li>
  </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>



block content
  .container
    .row
      .col-md-12
        h1
          a(style='color:#39914C' ;='') UV-VIS and infrared optical constants
        p.lead The query below provides the UV-VIS and infrared optical constants (n and/or k) ice analogues at different temperatures.

        form.search.form-horizontal(role='search', action='/refrac_index')
          .input-group.input-group-lg
            input.form-control(type='text', name='q', placeholder='Search for a compound', value=q)
            span.input-group-btn
              input.btn.btn-default(type='submit', value='Search')
    .row
      .main.col-md-12
        block page
        .row.footer.col-md-12
          .col-md-6
            p(style='text-align:left;')
             <img src="{{ url_for('static', filename='LfA_logo_Will.jpeg') }}" alt="" style="width: 10vw; min-width: 300px;">
          .col-md-6
            p(style='text-align:right;')
              <img src="{{ url_for('static', filename='Leiden_Logo.png') }}" alt="" style="width: 10vw; min-width: 300px;">

block head
  {{super()}}
  link(rel='stylesheet', href="{{ url_for('static', filename='style_cri.css') }}")
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <!--[if lt IE 9]>
  script(src="{{ url_for('static', filename='html5shiv.min.js') }}")
  script(src="{{ url_for('static', filename='respond.min.js') }}")
  <![endif]-->
  script(src="{{ url_for('static', filename='es5-shim.min.js') }}")
  include mathjax.html
block scripts
  {{super()}}
  script(src="{{ url_for('static', filename='d3.v3.min.js') }}")
  //script(src="http://d3js.org/d3.v3.js")
  script(src="{{ url_for('static', filename='d3.legend_cri.js') }}")
  script(src="http://d3js.org/queue.v1.min.js")

    ga('create', 'UA-59238456-1', 'auto');
    ga('send', 'pageview');

