extends 'layout.jade'
block page
  a(href= url_for('index')) <- Back
  h2
    = mixture.name
    span.text-muted
      - if temperatures|count > 1
        = ' (at ' + ', '.join(temperatures[:-1]) + ' and ' + temperatures[-1] + ' K)'
      - elif temperatures|count == 1
        = temperatures[0] + ' K'
      - else
        em (no spectra found)

  - if mixture.spectra|count > 0
    #spectrum('data-mixture-id'= mixture.id)
      img.loader(src= '/static/loading-bars.svg')

  .col-md-6
    h3 More information
    p= mixture.description
    h3 Author
    p
      = mixture.author
      - if mixture.author_email
       = ' <' + mixture.author_email + '>'
  .col-md-6
    h3 Download
    h4 Original Text Files
    ul
      - for spectrum in spectra
        li
          = '%s K: ' % spectrum.temperature
          a(href= url_for('spectrum_download_txt', spectrum_id=spectrum.id, download_filename=spectrum.download_filename())) TXT
          |  or 
          a(href= url_for('spectrum_download_gz', spectrum_id=spectrum.id, download_filename=spectrum.download_filename())) TXT.GZ
          span.text-muted= ' (%s kB)' % ((spectrum.gz_file_size() / 1000)|round(1))
      a(href= url_for('mixture_download_all_txt', mixture_id=mixture.id)) Download all in zip

block scripts
  {{super()}}
  script(src="{{ url_for('static', filename='app.js') }}")
