extends 'layout.jade'
block page
  h2
    = analogue.name
    span.text-muted
      - if analogue.spectra|count > 0
        = ' (at ' + analogue.temperatures_to_sentence() + ')'
      - else
        em (no spectra found)

  - if analogue.spectra|count > 0
    #spectrum('data-analogue-id'= analogue.id)
      img.loader(src= '/static/loading-bars.svg')

  .col-md-6
    h3 More information
    p= analogue.description
    p
      strong Average resolution: 
      = resolution|round(2)
      |  cm<sup>-1</sup>
    h3 Paper
    p
      | By 
      = analogue.author
      |, DOI:
      = analogue.DOI
    - if analogue.DOI
      p
        a.btn.btn-primary(href= analogue.DOI_url()) View Paper (DOI)
  .col-md-6
    h3 Download
    p
      | Please make sure to cite 
      a(href=analogue.DOI_url()) the paper
      |  when you use this data.
    h4 Original Text Files
    ul
      - for spectrum in spectra
        li
          = '%s K: ' % spectrum.temperature
          a(href= url_for('spectrum_download_txt', spectrum_id=spectrum.id, download_filename=spectrum.download_filename())) TXT
          |  or 
          a(href= url_for('spectrum_download_gz', spectrum_id=spectrum.id, download_filename=spectrum.download_filename())) TXT.GZ
          span.text-muted= ' (%s kB)' % ((spectrum.gz_file_size() / 1000)|round(1))
    a.btn.btn-primary(href= url_for('analogue_download_all_txt', analogue_id=analogue.id)) Download all in zip

block scripts
  {{super()}}
  script(src="{{ url_for('static', filename='app.js') }}")
