extends 'layout.jade'
block page
  a(href= url_for('index')) <- Back
  h2
    = mixture.name
    span.text-muted
      - if temperatures|count > 1
        = ' (at ' + ', '.join(temperatures[:-1]) + ' and ' + temperatures[-1] + ' K)'
      - elif temperatures|count == 1
        = temperatures[0] + ' K'
      - else
        em (no spectra found)

  - if mixture.spectra|count > 0
    #spectrum('data-mixture-id'= mixture.id)
      img.loader(src= '/static/loading-bars.svg')

  .col-md-6
    h3 Description
    p= mixture.description

  .col-md-6
    h3 Author
    p
      = mixture.author + ' <' + mixture.author_email + '>'
    h3 Download
    h4 Original Text Files
    ul
      - for spectrum in spectra
        li
          a(href= url_for('spectrum_download_original', spectrum_id=spectrum.id, download_filename=spectrum.download_filename()))
            = '%s K' % spectrum.temperature
          span.text-muted= ' (%s kb)' % ((spectrum.gz_file_size() / 1000)|round(1))
      a(href= url_for('mixture_download_all_original', mixture_id=mixture.id)) Download all in zip
