extends 'admin/master.html'
block body
  {{ super() }}
  if current_user.is_authenticated
    p.lead
      |Welcome to the administration section of the ice database.
    p
      |The database contains spectra measured by the Sackler Laboratory for Astrophysics.
    p
      |Use the menu items on the left to add new data.

  else
    form(method='POST', action='')
      {{ form.hidden_tag() if form.hidden_tag }}
      {% for f in form if f.type != 'CSRFTokenField' %}
      div
          {{ f.label }}
          {{ f(class='form-control') }}
          if f.errors
            ul
              {% for e in f.errors %}
              <li>{{ e }}</li>
              {% endfor %}
      {% endfor %}
      button(class='btn btn-lg btn-primary btn-block', type='submit')
        |Sign in

  <a class="btn" href="/"><i class="icon-arrow-left icon-white"></i> Back to the public website</a>
  <a class="btn" href="/admin/Statistics"><i class="icon-arrow-left icon-white"></i> Go to LID accesses numbers</a>
  
