{% macro tex_expl() %}
<div class="col-md-2"></div><div class="col-md-10">
  <p>
  Inline TeX is supported and must be used to write chemical formulas like 
  $\ce{H2O}$.
  </p>
  <p>A few examples:</p>
  <ul>
    <li><code>$\ce{CO2}$</code> $\ce{CO2}$</li>
    <li>
      <code>Mixed $\ce{H2O}:\ce{CO2}$</code>
     Mixed $\ce{H2O}$:$\ce{CO2}$
   </li>
  </ul>
  <p>For more information see
  <a href="http://docs.mathjax.org/en/latest/tex.html#mhchem">MathJax mhchem</a>
   or
  <a href="http://www.ctan.org/pkg/mhchem">CTAN mhchem</a></p>
</div>
{% endmacro %}

{% macro category() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Select the spectrum type below, default is warm-up, indicating that the spectrum is part of a warm-up series of spectra.</div>
</div>
{% endmacro %}

{% macro exposure_time() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Enter the exposure time (optional) in seconds below:</div>
</div>
{% endmacro %}

{% macro resolution() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Enter the resolution (optional) in cm-2:</div>
</div>
{% endmacro %}

{% macro cont_model() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Enter the continuum model below (e.g., B2008 for Boogert et al. 2008):</div>
</div>
{% endmacro %}


{% macro column_density() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Enter the ice column density below:</div>
</div>
{% endmacro %}

{% macro ice_thickness() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Enter the ice thickness in centimeters below:</div>
</div>
{% endmacro %}

{% macro data_instr() %}
<div class="form-group">
  <div class="col-md-2"></div>
  <div class="col-md-10">Text X Y file are accepted</div>
</div>
{% endmacro %}

{% macro tex_preview() %}
<div class="form-group">
  <label class="col-md-2 control-label">Preview</label>
  <div class="col-md-10" id="tex-name-preview"></div>
</div>
{% endmacro %}
